# ------------- general options ----------------------------------------
save_path = "" # log path
data_path = "" # path for dataset folder, containing cifar10 and imagenet
dataset = "mnist"  # options: imagenet | cifar10
seed = 1  # manually set RNG seed
gpu = "0"  # GPU id to use, e.g. "0,1,2,3"

# ------------- data options -------------------------------------------
n_threads = 4  # number of threads used for data loading

# ------------- discrimination-aware options ---------------------------
n_losses = 3  # number of additional losses
pruning_rate = 0.9  # pruning rate
softmax_weight = 1.0  # weight of the softmax loss
mse_weight = 1.0  # weight of the mean square loss
max_samples = -1  # maximum sample size used for channel selection, -1 means using whole data set

# ------------- common optimization options ----------------------------
batch_size = 64  # mini-batch size
momentum = 0.9  # momentum
weight_decay = 1e-4  # weight decay

# ------------- block-wise optimization options ------------------------
segment_wise_n_epochs = 40  # number of total epochs to fine tune in Algorihtm 1
segment_wise_lr = 0.1  # initial learning rate
segment_wise_step = [20, 40]  # multi-step for linear learning rate

# ------------- layer-wise optimization options ------------------------
layer_wise_lr = 0.01  # initial learning rate

# ------------- network-wise optimization options ----------------------
network_wise_n_epochs = 40  # number of total epochs to train
network_wise_lr = 0.1  # initial learning rate
network_wise_step = [160, 240]  # multi-step for linear learning rate

# ------------- model options ------------------------------------------
net_type = "preresnet"  # options: resnet | preresnet
experiment_id = ""  # experiment identifier
depth = 18  # preresnet depth: (n-2)%6==0
n_classes = 10  # number of classes in the dataset

# ------------- resume or retrain options ------------------------------
retrain = ""  # path of the pre-trained model
resume = "" # resume checkpoint
